<template>
  <div class="spotInfo" v-if="spot.id === spotSelected">
    <div class="spotInfo-name">
      <h4 class="spotName"> {{ spot.name }} </h4>
      <button id="closeInfoBtn" @click="spotSelected = 0">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="spotInfo-top">
      <div v-if="spot.type === 'S'" class="spotType" style="background-color: #E65100">
        <p>Spot</p>
      </div>
      <div v-if="spot.type === 'U'" class="spotType" style="background-color: #4169E1FF">
        <p>Undercover Spot</p>
      </div>
      <div v-if="spot.type === 'P'" class="spotType" style="background-color: #FF8C00FF">
        <p>Parkour Park</p>
      </div>
      <div v-if="spot.type === 'G'" class="spotType" style="background-color: #800080FF">
        <p>Gym</p>
      </div>

      <div class="adder">Added by {{ spot.adder.user.username }}</div>
    </div>

    <div id="picsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button v-for="(pic, i) in pics" class="carousel-indicator" type="button" data-bs-target="#picsCarousel" :class="{ 'active': i === 0 }" aria-current="true"></button>
      </div>
      <div class="carousel-inner">
        <div v-for="(pic, i) in pics" class="carousel-item" :class="{ 'active': i === 0 }">
          <img :src="'http://127.0.0.1:8000' + pic.image" class="d-block w-100" alt="">
        </div>
      </div>
        <div class="carouselControls" v-if="pics.length > 1">
          <button class="carousel-control-prev" type="button" data-bs-target="#picsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#picsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>

    <div class="spotDesc">
      <p> {{spot.description}} </p>
    </div>

    <div class="spotDesc">
      <a :href="'https://www.google.com/maps/search/?api=1&query=' + spot.lat + ',' + spot.lng" target="_blank">Visualizza su Google Maps</a>
    </div>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SpotInfo',

  props: {
    spot: Object,
    spotSelected: Number,
  },

  computed: {

  },

  data () {
    return {
      pics: []
    }
  },

  mounted() {
    console.log(this.spot)
    axios
        .get('/api/spotPics/' + this.spot.id + '/')
        .then((response) => {
          this.pics = response.data
        })
        .catch((error) => {
          console.log(error)
        })

  },
}
</script>

<style scoped>

.spotInfo {
  background-color: #f8f8f8;
  box-shadow: 3px 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.spotInfo-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  margin-top: 20px;
}

#closeInfoBtn {
  color: var(--my-black);
    background-color: #f8f8f8;
    border: none;
    padding: 0;
}

.spotInfo-top {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.spotType {
  margin: 10px;
  padding: 5px;
  padding-inline: 20px;
  background-color: var(--my-black);
  color: white;
  border-radius: 10px;
}

.spotDesc {
  padding: 10px;
  text-align: left;
}

.carousel-inner > .carousel-item > img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}

</style>